<div class="mdl-layout__container">

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<div class="yoyo-header mdl-layout__header mdl-layout__header--scroll">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">YO Project</span>

				<div class="mdl-layout-spacer"></div>

				<!-- Navigation -->
				<div class="mdl-layout--large-screen-only">
					<nav class="android-navigation mdl-navigation">
						<a class="mdl-navigation__link" [routerLink]="['home']">HOME</a>
						<a class="mdl-navigation__link" [routerLink]="['about']">ABOUT</a>
					</nav>
				</div>

				<div class="mdl-layout--large-screen-only">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Log In</button>
				</div>

			</div>
		</div>

		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Project Yo </span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">Log In</a>
				<a class="mdl-navigation__link" [routerLink]="['home']">Home</a>
				<a class="mdl-navigation__link" [routerLink]="['about']">About</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<div class="page-content">
				<router-outlet></router-outlet>
			</div>
		</main>

	</div>

</div>